body{
    margin: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-color: #EDF2F4;
}

h1{
    text-align: center;
    color: #2B2D42;
}

/* entry input */

.entry-form {
    display: flex;
    justify-content: center;    
}

.entry-form-bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #8D99AE;
    border-radius: 20px;
    width: 25%;
    padding: 5%;
}

.entry-field {
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
}

.entry-label{
    display: inline-block;
    width: 48%;
}

input, select {
    box-sizing: border-box;
    width: 50%;
}

.entry-btn {
    width: 100%;
    background-color: #EDF2F4;
    border: 2px solid #2B2D42;
    border-radius: 5px;
    height: 30px;

}

/* toggle account */

.toggle-account{
    appearance: none;
    width: 100px;
    height: 30px;
    margin: auto 10px;
    background-color: #e4a17a;
    box-shadow: inset 3px 3px 6px rgb(0,0,0,0.4);
    border-radius: 25px;
    position: relative;
}

.toggle-account:before{
    content: "";
    background: #540804;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
}

.toggle-account:after{
    content: "TOM";
    position: absolute;
    font-size: 1rem;
    font-weight: 700;
    /*color: #540804; /* owes money -> class money-owed*/
    /*color: #324c3e; /* gets money back -> class money-getsback */
    text-shadow: 1px 1px 5px #EDF2F4;
    top: 50%;
    left: 50%;
    transform: translate(10%,-50%);
}

.toggle-account:checked:before{
    left: 70%;
}

.toggle-account:checked:after{
    content: "ANNA";
    left: 10%;
}


/* overview amount owed */

.amount-owed{
    display: flex;
    /* color: #540804; */
    color: black;
    background-color: #FFDAC6;
    border: 2px solid #540804;
    border-radius: 20px;
    font-weight: bold;
    margin: 5px;
}

.money-owed{
    color: #540804;
}

.money-getsback{
    color: #324c3e;
}

#div-sum {
    padding: 0 20px;
    margin: auto 0 auto auto;
}

/* entry list */

.expense-entry{
    display: flex;
    color: #2B2D42;
    background-color: #BFC6D2;
    border: 2px solid #2B2D42;
    border-radius: 20px;
    font-weight: bold;
    margin: 5px;
}

.entry{
    padding: 20px;
}

.split-price {
    margin: 0 0 0 auto;
    color: #2B2D42;
}


/* slider styling */
